body {
  margin: 0;
  width: 100%;
  position: relative;
  font-family: PingFang SC,Hiragino Sans GB,Microsoft Yahei,Helvetica,sans-serif;
}

.m-header {
  width: 100%;
  background-color: #fff;
  padding-top: .13rem;
  padding-bottom: .13rem;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
}

.m-header .m-header-nav {
  margin-left: .17rem;
  margin-right: .17rem;
  font-size: .13rem;
  color: #4e566a;
  display: flex;
  overflow: scroll;
}

.m-header .m-header-nav .ui-item {
  list-style: none;
  white-space: nowrap;
  margin-left: .07rem;
  margin-right: .07rem;
}

.m-article {
  padding-top: .4rem;
}

.m-article #toTop {
  position: fixed;
  right: 5px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background: url(logo.png) no-repeat left top;
  display: none;
}

.m-article-item {
  padding-top: .16rem;
  padding-bottom: .15rem;
  padding-left: .17rem;
  padding-right: .17rem;
  border-bottom: 1px solid #f6f6f6;
}

.m-article-item .m-article-title {
  font-size: .15rem;
  margin: 0;
}

.m-article-item .m-article-title .ui-link {
  text-decoration: none;
  color: #2b3040;
}

.m-article-item .m-article-author {
  font-size: .12rem;
  color: #b8b8b8;
}

.m-article-item .m-article-author .ui-logo {
  width: .11rem;
  height: .14rem;
  margin-right: .06rem;
  vertical-align: middle;
}

.m-article-item .m-article-author .ui-item {
  vertical-align: middle;
}

.m-article-item .ui-picture {
  width: .88rem;
  height: .88rem;
  float: right;
}

.m-article-item .m-article-date {
  font-size: .14rem;
  color: #999999;
  margin-top: .14rem;
  margin-bottom: .04rem;
}

.m-article-item::after {
  content: " ";
  display: table;
  clear: both;
}

.m-refresh {
  font-size: .12rem;
  text-align: center;
}
